
h1 {
    color: white;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
}

body {
    color: white;
    font-family: 'Poppins', sans-serif;
    background-image: url("./imgg.vihh/41b863a3d41d1169603ac8850eb25a90.jpg");
    
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(19, 18, 18, 0.897);
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgb(22, 22, 22);
    position: center;
    }


h2 {
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 0;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black ;
    background-image: -webkit-image-set();
    object-fit: cover;
}

p {
    color: white;
    font-size: 0.9;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 20px;
}
